{% load static %}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="viewport" content="initial-scale=1.0,
                width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
        type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"
        href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href = "{% static 'loader.css' %}">
</head>
<body>
<h1>This is the home Page of My Safety App</h1>
<button onclick="onClickGetMyLocation()">Click me</button>
<p id="nearby-location"></p>
<div id="loader" class="lds-dual-ring hidden overlay"></div>
<div id="googleMap" style="width:100%;height:600px;"></div>
<div id ="lat-long"></div>
<script>
let myCurrentLatitude = 0
let myCurrentLongitude =  0
var map
function initMap() {
  const myLatLng = { lat: myCurrentLatitude, lng: myCurrentLongitude};
  map = new google.maps.Map(document.getElementById("googleMap"), {
    zoom: 13,
    center: myLatLng,
  });

  new google.maps.Marker({
    position: myLatLng,
    map,
    title: "Hello World!",
  });
}
    var x = document.getElementById("my-current-location");
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    function onClickGetMyLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(sendPosition);            
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
         }
    }
    function sendPosition(position) {
        var csrftoken =  getCookie('csrftoken')
        myCurrentLatitude = position.coords.latitude
        myCurrentLongitude = position.coords.longitude
        initMap()
        $.ajax({
            beforeSend: function() {
                $("#loader").removeClass("hidden")
            },
            url: 'http://127.0.0.1:8000/getSafety/',
            type: 'GET',
            headers: {'X-CSRFToken': csrftoken},
            data: {
            'latitude': position.coords.latitude,
            'longitude': position.coords.longitude
            },
            dataType: 'json',
            success: function(data) {
                console.log(data);
                $("#nearby-location").html("got the results")
                var marker
                var content = ""
                responseJson = JSON.parse(JSON.stringify(data))
                for(id in responseJson){
                    console.log(id)
                    marker = new google.maps.Marker({
                    position: new google.maps.LatLng(responseJson[id].latitude, responseJson[id].longitude),
                    map: map
                    });
                    map.setCenter(marker.getPosition())
                    namePlace = "<p> Name: " + responseJson[id].name + "</p>"
                    overallCrime = "<p> Overall: " + responseJson[id].overallCrime + "</p>"
                    womenCrimeRate = "<p> Women: " + responseJson[id].womenSafety + "</p>"
                    lgbtqCrime = "<p> Lgbtq: " + responseJson[id].lgbtq + "</p>"
                    medicalSafe = "<p> Medical: " + responseJson[id].medical + "</p>"
                    physicalHarmRatings = "<p> Physical Harm: " + responseJson[id].physicalHarm + "</p>"
                    theftCrime =  "<p> Theft: " + responseJson[id].theftCrime  + "</p>"
                    politicalFreedomRatings = "<p> Political Freedom: " + responseJson[id].politicalFreedom + "</p>"

                    content = namePlace + overallCrime + womenCrimeRate + lgbtqCrime + medicalSafe + physicalHarmRatings + theftCrime + politicalFreedomRatings
                    var infowindow = new google.maps.InfoWindow()
                    
                    google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                        return function() {
                            infowindow.setContent(content);
                            infowindow.open(map,marker);
                        };
                    })(marker,content,infowindow)); 

                }
            },
            complete: function() {
                $("#loader").addClass("hidden")
                
            }
        });
    }
    
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly" async></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>